<p><strong>Title: </strong>
    <%= @student12.title %>
</p>

<p><strong>Text: </strong>
    <%= @student12.text %>
</p>

<p><%= link_to 'Blog', students_path %> | <%= link_to 'Home Page', root_path%></p>
